* {
  font-family: 'roboto', sans-serif;
  font-size: 30px;
}
  
body {
  background-color: green;
}

h3{
  text-align: center;
}

section{
  display: flex;
}

article{
  border: 1px solid black;
  padding: 0.5%;
  margin: 2%;
  background-color: wheat;
}

figure{
  text-align: center;
}
