/*
  # = id
  . = class
  * = the whole file
*/

* {
  font-size: 30px; /* tamaño de letra */
  font-family: 'roboto', sans-serif; /* Estilo de letra */
}

ul {
  list-style: inside
}

body {
  background-color: wheat;
}

h1 {
  text-align: center;
  color: brown; /* color de letra */
  font-size: 100px;
}

#bird {
  color: #fdfdfd;
  padding: 1rem 0;
  background-color: pink;
  margin: 0;
}

#bug {
  color: #fdfdfd;
  padding: 1rem 0;
  background-color: brown;
  margin: 0;
}

#plant {
  color: #fdfdfd;
  padding: 1rem 0;
  background-color: green;
  margin: 0;
}

.axies_main {
  text-align: center;
  display: flex;
}

.axies {
  border: 1px solid black;
  max-width: 580px;
  padding: 0 0.5%;
  margin: 1%;
  background-color: #fdfdfd;
}

.video_origin {
  text-align: center;
  display: flex;
  justify-content: center;
}