/*
  # = id
  . = class
  * = the whole file
*/

* {
  font-size: 30px; /* tamaño de letra */
  font-family: 'roboto', sans-serif; /* Estilo de letra */
}

body {
  background-color:wheat;
}

h1 {
  color: brown; /* color de letra */
  font-size: 100px;
}

#bird_pink {
  background-color: pink;
}

#bug_brown {
  background-color:brown;
}

#plant_green {
  background-color:green;
}

table {
  background-color:beige;
  border-collapse: collapse; /* para que es esta propiedad. */
}

th {
  font-weight: bold; /* Negrita */
  background-color:white;
}

thead {
  border-bottom: solid 5px black;
}

th, td {
  border: solid 1px black; /* el grosos de la linea de los bordes */
}

tr:nth-child(odd) {
  background: aqua; /* no se muestra */
}
